<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <ul>
    <li> <strong>Name: </strong><%= link_to restaurant.name, restaurant%></li>
    <li> <strong>Address: </strong><%=restaurant.address%></li>
    <li> <strong>Phone Number:</strong><%=restaurant.phone_number%></li>
    <li> <strong>Category: </strong><%=restaurant.category%></li>
  </ul>
<%end%>

<%= link_to "Create a Restaurant", new_restaurant_path, class: "btn btn-primary" %>
